<div class="row-fluid">
	<div id="user-info" class="span4 well">
		<img src="<%= current_user.image %>" alt="<%= current_user.username %>" />
		<h3><%= current_user.username %></h3>
		Chicago, IL
	</div>
	<div id="now-reading" class="span4 well">
		<h3>Now Reading</h3>
		<h4>The Great Gatsby</h4>
		Book Image<br />
		<a class="btn btn-inverse" href="#">Log Time and Pages</a>
	</div>
	<div id="calendar" class="span4 well">
		<h3>Calendar</h3>
	</div>
</div>
<div class="row-fluid">
	<div id="graph1" class="span4 well">
		<h3>Total Reading Time</h3>
		<h3>Total Pages Read</h3>
	</div>
	<div id="graph2" class="span4 well">
		<h3>The Past Week</h3>
	</div>
	<div id="graph3" class="span4 well">
		<h3>Progress on current book</h3>
	</div>
</div>