<script>
$(document).ready(function() {
	var chart;
    chart = new Highcharts.Chart({
        chart: {
            renderTo: 'hc-progress',
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: false,
        tooltip: {
            formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false,
                    color: '#000000',
                    connectorColor: '#ffffff',
                    fill: 'transparent',
                    formatter: function() {
                        return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: [
                ['Read',   84.0],
                // ['To Read',       16.0],
                {
                    name: 'To Read',
                    y: 16.0,
                    sliced: true,
                    selected: true
                },
            ]
        }]
    });
});
</script>
<div class="row-fluid">
	<div id="column-one" class="column">
		<div id="user-info" class="well">
			<img class="fbphoto" src="<%= current_user.image %>" alt="<%= current_user.username %>" />
			<h3 class="username"><%= current_user.username %></h3>
			<h4 class="bookauthor">Chicago, IL</h4>
		</div>
		<div id="deadline" class="well">
			<h3 class="dashstatlabel">Deadline</h3>
			<p>
				Your next meeting is on<br />
				<span class="number date">Tuesday, June 26</span><br/>
				You have <span class="number">7</span> days to read <span class="number">90</span> pages.
			</p>
			<a class="btn btn-large reminder" id="reminder" data-toggle="modal" href="#logTime">Send Me a Reminder</a>
		</div>
	</div><!-- #column-one -->
	<div id="column-two" class="column">
		<div id="now-reading" class="well">
			<h3 class="dashstatlabel">Now Reading</h3>
			<img class="currentbook" src="<%= asset_path('bookcovers/Odyssey.jpg') %>" />
			<h4 class="booktitle">The Odyssey</h4>
			<h4 class="bookauthor">Homer</h4>
			<a class="btn btn-large" id="logtimebtn" data-toggle="modal" href="#logTime">Log Time and Pages</a>
			
			<div class="modal hide" id="logTime">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h3>Log Time</h3>
				</div>
				<div class="modal-body">
					<div id="countdown">00:00</div>
					<button id="btn-start" class="btn">Start Timer</button>
					<button id="reset" class="btn">Reset Timer</button>
					<h4>Pages Read</h4>
					<input class="pagesRead" />
				</div>
				<div class="modal-footer">
					<a href="#" class="btn" data-dismiss="modal">Close</a>
					<a href="#" class="btn btn-primary">Save changes</a>
				</div>
			</div><!-- #logTime -->
		</div>
		<div id="averages" class="well">
			<h3 class="dashstatlabel">Total Reading Time</h3>
			<p class="average"><span class="number">6</span> hours and <span class="number">14</span> minutes</p>
		</div><!-- #now-reading -->
	</div><!-- #column-two -->
	<div id="column-three" class="column">
		<div id="averages" class="well">
			<h3 class="dashstatlabel">My Progress</h3>
			 <!-- <div id="chart_div" style="width: 200px; height: 200px;"></div> -->
			<p class="average"><span class="number">74%</span> complete</p>
			<h3 class="dashstatlabel">Average Group Progress</h3>
			<p class="average"><span class="number">85%</span> complete</p>
			<div id="hc-progress" style="min-width: 200px; height: 200px; margin: 0 auto"></div>
			<div class="progress progress-striped">
  				<div class="bar" style="width: 85%;"></div>
  			</div>
		</div>
		<div id="averages" class="well">
			<h3 class="dashstatlabel">My Daily Average</h3>
			<p class="average"><span class="number">74</span> pages per day</p>
			<h3 class="dashstatlabel">Group Daily Average</h3>
			<p class="average"><span class="number">42</span> pages per day</p>
		</div>
		<!-- <div id="averages" class="well">
					<h3 class="dashstatlabel">Reading Time</h3>
					<p class="average"><span class="number">2</span> hours, <span class="number">14</span> minutes</p>
				</div> -->
		<!-- <div id="graph3" class="well">
					<h3 class="dashstatlabel">Progress</h3>
					<p>You've read <span class="number">62%</span> of this book.</p>
				</div> --><!-- #graph3 -->
	</div><!-- #column-three -->
</div><!-- .row-fluid -->