<h1>My Clubs</h1>
<div class="row-fluid">
	<div class="well sidebar-nav span3">
		<ul class="nav nav-list">
			<li class="nav-header">My Groups</li>
			<li>Some Group Name Here</li>
			<li>Some Group Name Here</li>
			<li>Some Group Name Here</li>
			<li>Some Group Name Here</li>
			<li class="nav-header">Discover</li>
			<li><a href="#">Find Clubs</a></li>
			<li><a href="#">Find Books</a></li>
		</ul>
	</div>
	<div class="span9">
		A bunch of boxes of group info goes here
	</div>
</div>