<div class="row-fluid">
	<div class="well sidebar-nav span3">
		<ul class="nav nav-list">
			<li class="nav-header">My Groups</li>
			<li><a href="#">Pink Ladies</a></li>
			<li><a href="#">BadASS Book Club</a></li>
			<li class="nav-header">Discover</li>
			<li><a href="#">Find Nearby Clubs</a></li>
			<li><a href="#">Find Books</a></li>
		</ul>
	</div>
	<div class="row-fluid">
		<div id="club-info" class="span12">
			<ul>
				<li class="span4"><h3>BadASS Book Club</h3>
				<h4>Currently Reading<h4>
				</li>
				<li class="span4">
					<img class="book-cover" src="http://3.bp.blogspot.com/--7TZnPHzNNI/T1S0O_K95FI/AAAAAAAACis/DoMbjCVjMQw/s1600/9780140268867_1313992126.jpg">
					</img>
				</li>
			</ul>
		</div>
	</div>
	<div class="row-fluid">
		<div id="club-info" class="span12">
			<ul>
				<li class="span4">
					<h3>Pink Ladies</h3>
					<h4>Currently Reading<h4>
				</li>
				<li class="span4">
					<img class="book-cover" src="http://www.theparisreview.org/blog/wp-content/uploads/2012/06/50-Shades-Grey-James.jpg">
					</img>
				</li>
			</ul>
		</div>
	</div>
</div>