<ul class="nav nav-tabs">
	<li class="active"><a href="#dashboard" data-toggle="tab">Dashboard</a></li>
	<li><a href="#mybooks" data-toggle="tab">My Books</a></li>
	<li><a href="#myclubs" data-toggle="tab">My Clubs</a></li>
</ul>
<%= link_to "Search Books", search_books_url, :class => "Search" %>

<div class="tab-content">
  <div class="tab-pane active" id="dashboard">
  	<%= render 'dash' %>
  </div>
  <div class="tab-pane" id="mybooks">
  	<%= render 'my_books' %>
  </div>
  <div class="tab-pane" id="myclubs">
  	<%= render 'my_clubs' %>
  </div>
</div>