/** Merged to main CSS **/


.brand{
	font-family: "league-gothic", sans-serif !important;
	text-transform: uppercase;
}

.nav, .nav-tabs{
	text-transform: uppercase;
}

.nav, .nav-tabs, .nav-tabs li a {
	border-top-right-radius:4px !important;
	border-top-left-radius:4px !important;
	  
}

.dashstatlabel{
	font-family: "eb garamond", serif !important;
	text-transform: lowercase;
	color: #d4a960 !important;
/*	text-shadow: 1px 1px #637d74 !important;*/
	border-bottom: 1px solid #637d74;
}
#deadline{
	border-radius: 4px !important;
}

.average{
	font-size: 28px !important;
}

.number{
	font-size: 44px !important;
	color: #637d74 !important;
}


.date{
	color: #8c3b3b !important;
	line-height: 66px;
}

#reminder{
	margin:15px 30px 10px 45px;
	padding: 10px 50px;
	}

#logtimebtn{
	padding: 10px 80px;
	margin: 15px 0px 10px 81px;
}


.chart_div{
	background: url(darkdenim3.png);
}

.booktitle{
	font-size: 30px !important;
}

.bookauthor{
	font-size: 20px !important;
	font-family: "eb garamond", serif;
	color: #637d74 !important;
	line-height: 26px;
}

.author{
font-family: "eb garamond", serif;
	font-weight: bold;
	font-size: 24px;
	color: #637d74 !important;
	line-height: 26px;

}

.amazonbook{
		/*color: #d4a960 !important;*/
}

.modal-backdrop, .modal-backdrop.fade.in{
	opacity: 0.4;
}

/*.form-search{
	font-size: 40px !important;
	font-family: "eb garamond", serif;
	color: #637d74 !important;
}
*/


