.navbar-inner {
	/*border-bottom: 5px solid #637d74;*/
}

.nav, .nav-tabs {
	/*font-family: "league-gothic",sans-serif;*/
	/*text-transform: uppercase;*/
	font-weight: bold;
	font-size: 20px;	
}

.nav-tabs {
	border-bottom: 1px solid #555;
}

.nav-tabs li a {
	/*color: #637d74;*/
	color: #555;
	border-radius: 0px;
	padding: 10px 50px;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
	background: transparent;
	border: 1px solid #555;
	border-bottom: 1px solid #ddd6c6;
	color: #333;
}

.well {

}

.btn {

}

h3 {
	font-family: "league-gothic",sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	color: #8c3b3b;
}

h4 {
	font-family: "EB Garamond", serif;
	font-size: 16px;
}