#mybooks h2 {
	text-align: center;
	margin-bottom: 18px;
}

#mybooks .row-fluid {
	margin-bottom: 40px;
}

.carousel .item > img {
	display: inline-block;
}

.collection img {
	width: 200px;
	height: 300px;
}

.collection {
	width: 80%;
	margin: 0 auto;
}