.search-books .item {
	margin: 15px 0 30px;
}

.search-books .item h3 {
	font-size: 30px;
}

.modal-backdrop, .modal-backdrop.fade.in {
	opacity: 0.4;
}

.modal-backdrop, .modal-backdrop.fade.in {
	opacity: 0.4;
}