/* =Import Fonts
---------------------------------------------------- */

/* font-family: 'Oleo Script', cursive; */
@import url(http://fonts.googleapis.com/css?family=Oleo+Script);
@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

/* =Containers
---------------------------------------------------- */

html, body {
	height: 100%;
}

body {
	background: url(bg.jpg);
}

#content-sidebar-wrap {
    min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
}

#content, #sidebar {
	padding-bottom: 30px;
}

/* =Defaults
---------------------------------------------------- */

h1,h2,h3,h4,h5,h6 {
	font-family: "league-gothic", sans-serif;
	text-transform: uppercase;
	/*color: #8C3B3B;*/
}

h2 {
	font-size: 32px;
}

.well {
	background: url(darkdenim3.png);
	box-shadow: none;
	border: 0;
}

.well h3 {
	color: #DDD;
	font-size: 26px;
	margin-bottom: 10px;
}

.well p {
	color: #999;
}

/* =Nav & Nav Tabs
---------------------------------------------------- */

.nav, .nav-tabs {
	font-weight: bold;
	font-size: 20px;
}

.nav-tabs {
	border-bottom: 1px solid #555;
}

.nav-tabs li a {
	color: #555;
	border-radius: 0px;
	padding: 10px 50px;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
	background: transparent;
	border: 1px solid #555;
	border-bottom: 1px solid #ddd6c6;
	color: #333;
}

.navbar .brand {
	font-size: 32px;
  	font-family: "Oleo Script",sans-serif;
	color: #DDD;
	letter-spacing: 1px;
}

.navbar-fixed-top .navbar-inner {
	background: url(darkdenim3.png);
}

.navbar .nav li a {
	padding-top: 17px;
	font-size: 15px;
}

.navbar .btn {
	margin-top: 12px;
}

.navbar .btn-group .btn {
	margin-top: 7px;
}


/* =Nav & Nav Tabs
---------------------------------------------------- */

.nav > li > a:hover {
	background: transparent;
	border: 0;
	color: #333;
}

/* =Sidebar Nav
---------------------------------------------------- */

.well.sidebar-nav {
	padding: 15px 0;
}
.sidebar-nav li a {
	color: #D69695;
	text-shadow: none;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active {
	background: rgba(255,255,255,0.2);
}

.sidebar-nav .nav-header {
	color: #DDD;
	font-size: 16px;
	text-shadow: none;
}


/* =Home
---------------------------------------------------- */

.screencast-wrap h2,
.login-wrapper h2 {
	margin-bottom: 12px;
}

#screencast {
	background: #EEE;
	border-radius: 8px;
	text-align: center;
	padding: 130px 0;
	font-size: 22px;
	font-weight: bold;
}

.login-wrapper .btn {
	padding: 10px 0;
	font-size: 16px;
}

.club {
	margin-bottom: 28px;
}

/* =Forms
---------------------------------------------------- */

.form-actions {
	clear: both;
}

#new_user {

}

/* =Footer Widgets
---------------------------------------------------- */

#footer-widgets {
	margin-top: 30px;
	width: 96%;
}


/* =Footer
---------------------------------------------------- */

#footer, .push {
	height: 40px;
}

#footer .navbar-inner {
	border-radius: 0;
	background: transparent;
}

#footer .nav a {
	font-weight: normal;
	color: #666;
	font-size: 12px;
	text-shadow: none;
}

img.typekit-badge {
	display: none !important;
}

/* =Place Holders
---------------------------------------------------- */

.ph {
	display: inline-block;
	width: 60px;
	height: 90px;
	background: #fff;
	margin-right: 10px;
}

/* =Media Queries
---------------------------------------------------- */

/* Landscape phones and down */
@media (max-width: 480px) {
	#footer {
		font-size: 10px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#footer .navbar-inner {
		position: relative;
		width: 100%;
		left: -20px;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Standard desktop and up */
@media (min-width: 940px) {
	#content, #sidebar {
		padding-top: 76px;
	}
}

/* Large desktop */
@media (min-width: 1200px) {

}