/* =Import Fonts
---------------------------------------------------- */

/* font-family: 'Oleo Script', cursive; */
@import url(http://fonts.googleapis.com/css?family=Oleo+Script);

/* =Containers
---------------------------------------------------- */

html, body {
	height: 100%;
}

body {
	background: url(lightpaperfibers.png);
}

#content-sidebar-wrap {
    min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
}

#content, #sidebar {
	padding-bottom: 30px;
}

/* =Nav
---------------------------------------------------- */

.navbar .brand {
	font-size: 32px;
	font-family: 'Oleo Script', cursive;
	color: whiteSmoke;
	text-shadow: -1px -1px #000;
}

.navbar .nav li a {
	padding-top: 17px;
	font-size: 15px;
}

.navbar .btn {
	margin-top: 12px;
}

/* =Home
---------------------------------------------------- */

.screencast-wrap h2,
.login-wrapper h2 {
	margin-bottom: 12px;
}

#screencast {
	background: #EEE;
	border-radius: 8px;
	text-align: center;
	padding: 130px 0;
	font-size: 22px;
	font-weight: bold;
}

.login-wrapper .btn {
	padding: 10px 0;
	font-size: 16px;
}



/* =Forms
---------------------------------------------------- */

.form-actions {
	clear: both;
}

#new_user {

}

/* =Footer Widgets
---------------------------------------------------- */

#footer-widgets {
	margin-top: 30px;
	width: 96%;
}


/* =Footer
---------------------------------------------------- */

#footer, .push {
	height: 40px;
}

#footer .navbar-inner {
	border-radius: 0;
}


/* =Media Queries
---------------------------------------------------- */

/* Landscape phones and down */
@media (max-width: 480px) {
	#footer {
		font-size: 10px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#footer .navbar-inner {
		position: relative;
		width: 100%;
		left: -20px;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Standard desktop and up */
@media (min-width: 940px) {
	#content, #sidebar {
		padding-top: 76px;
	}
}

/* Large desktop */
@media (min-width: 1200px) {

}