<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<%= link_to "Librarius", root_url, :class => 'brand' %><span class="beta">Beta</span>
			<div class="pull-right">
				<%= link_to "Sign In With Facebook", user_omniauth_authorize_path(:facebook), :class => 'btn' %>
			</div>
		</div><!-- .container -->
	</div><!-- .navbar-inner -->
</div><!-- .navbar-fixed-top -->