<div class="well sidebar-nav">
	<ul class="nav nav-list">
		<%= yield :sidebar %>
		<!-- all the below will be removed when we have something to yield -->
		<li class="nav-header">Sidebar</li>
		<li><a href="#">Linked Item</a></li>
		<li><a href="#">Linked Item</a></li>
		<li><a href="#">Linked Item</a></li>
		<li><a href="#">Linked Item</a></li>
		<li class="nav-header">Sidebar</li>
		<li><a href="#">Linked Item</a></li>
		<li><a href="#">Linked Item</a></li>
		<li><a href="#">Linked Item</a></li>
		<li><a href="#">Linked Item</a></li>
	</ul>
</div>
